# For environment variables
python-dotenv==1.1.1

# For ruff
ruff==0.14.2

# For Pre-commit
pre-commit

# For testing
pytest==8.4.2
pytest-benchmark==5.1.0

# Progress bar
tqdm==4.67.1

# For deps build
setuptools==80.9.0

# For YAML file
PyYAML==6.0.3

# For Pydantic
pydantic==2.12.3
pydantic-settings==2.11.0
